################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AmortFunctions/Properties/PublishProfiles
/CobList/bin
/CobList/obj
/CobList/mccerror.txt
/CobList/CobList.dep
/LoanAmort/bin
/LoanAmort/obj
/WebAPIWPFClient/.vs
/WebAPIWPFClient/bin/Debug
/WebAPIWPFClient/obj/Debug
/WebAPIWPFClient/AmortWPFClient.dep
/WebAPIWPFClient/mccerror.txt
/LoanAmortTests/bin
/LoanAmortTests/obj
